*{
    /* margin: 0;
    padding: 0;
    box-sizing: border-box; */
}

body{
    background-color: black;
}

table{
    margin: 20px auto;
}

form{
    background-color: rgb(99, 255, 255);
    width: 600px;
    margin:-8px auto;
    padding-top: 20px;
    font-size: 14px;
}

.head{
    padding: 20px;
    font-size: 25px;
    border-style: double;
}

.top{ 
    padding-top: 40px;
}

.left{
    width: 90px;
}

.right{
    width: 60%;
}

.address{
    width: 80%;
}

.dob{
    width: 40px;
}

.year{
    width: 60px;
}

button{
    margin: 10px 0 40px 55px;
}

.btn1{
    background: none;
    border: none;
    color: blue;
    text-decoration: underline;
}

.btn2{
    margin-left: -5px;
}